@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("images/background.jpg");
  background-color: linear-gradient(120deg, #feffff, #70d6ff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(120deg, #2980b9, #8e44ad); */
  height: 100vh;
  overflow: hidden;
}
.center {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; */

  /* padding: 25px; */

  display: block;

  transition: transform 0.2s;
  width: 400px;
  /* width: 400px;
  height: 400px; */
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;

  background: linear-gradient(120deg, #feffff, #70d6ff);
  opacity: 0.85;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);

  /* From https://css.glass */
  background: rgba(67, 149, 243, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgb(0, 0, 0);
}

.center:hover {
  opacity: 1;
  transform: scale(1.1);
  border: 3px solid rgb(0, 0, 0);
}

/* .zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
} */

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  border-color: #000000;
  background: #1b7cbd;
  transition: 0.5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}

/* 

    PAGE 2


*/

/* .title {
        color: black;
        background-color: crimson;
        text-align: left;
      } */
body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
}

ul {
  list-style: none;
}

#nav_bar {
  float: right;
}

#nav_bar li {
  display: inline-block;
  padding: 8px;
  font-size: large;
}

#nav_bar #sign_out {
  background: #4887ef;
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 3px;
  font-weight: bold;
}

.nav-links {
  color: #404040;
}

a {
  text-decoration: none;
  color: inherit;
}

li.nav-links a:hover {
  text-decoration: underline;
}

#sign_out:hover {
  box-shadow: 1px 1px 5px #999;
}

#sign_out {
  color: #fff;
}

.box {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 526px;
  top: 150px;

  text-align: center;
  padding: 20px;
  background-color: rgba(90, 166, 238, 0.281);
}

.bus-info {
  color: black;
  background-color: rgb(90, 166, 238);
  text-align: center;
  /* padding: 1px 1px 1px 1px;
  height: 400px; */
}

/* .profile {
    background-color: blueviolet;
  }

  .rides {
    background-color: blueviolet;
  }

  .sign-out {
    background-color: blueviolet;
  } */

/* .prs {
    background-color: blueviolet;
    margin-bottom: 300px;
    margin-right: 1090px;
    position: relative;
    bottom: 400px;
  } */
.from {
  background-color: rgb(180, 226, 240);
  font-size: large;
  font-style: italic;
  /* text-align: left; */
}

.form-box {
  display: inline-block;
}

/* .form-box {
  background-position-x: right;
  position: inherit;
   left: 150px;
  bottom: 55px; 
} 
*/

#submit2 {
  width: 5%;
  height: 20px;
  border: 1px solid;
  background: #76bde0;
  border-radius: 25px;
  font-size: 15px;
  color: #e9f4fb;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  float: left;
}
#submit2:hover {
  border-color: #000000;
  background: #1b7cbd;
  transition: 0.5s;
}

#cng_dst {
  width: 35%;
  height: 30px;
  border: 1px solid;
  background: #76bde0;
  border-radius: 25px;
  font-size: 15px;
  color: #e9f4fb;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  float: right;
}
#cng_dst:hover {
  border-color: #000000;
  background: #1b7cbd;
  transition: 0.5s;
}
